.navBar-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;   
}


.menu-nav{
    width: 60%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}
.menu-option{
    color: var(--very-dark-blue);
    opacity: .8 ;
    font-weight: 700;
}
.menu-option:hover{
    opacity: .6 ;
}
.nav-hamburguer{
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1050px) {
   .nav-button{
       display: none;
   }
    
}
@media screen and (max-width:800px) {
    .menu-nav{
        display: none;
        position: absolute;
        min-width: 350px;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--very-light-gray);
        height: 300px;
        margin: auto;
    }
    .nav-hamburguer{
        display: block;
    }
     
 }
