.banner-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.banner-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.banner-info h1{
    text-align: left;
    color: var(--dark-blue);
    max-width: 300px;
}
.banner-info p{
    max-width: 300px;
    text-align: left;
    margin: 50px 0;
    color: var(--dark-grayish-blue);

}

.graphs{
    width: 50%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

@media screen and (max-width:1050px) {
    .banner-info h1{
        font-size: 18px ;
    }
    .graphs img{
        width: 70%;
        
    }
}

@media screen and (max-width:800px) {
    .banner-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .banner-info {
        order: 2;
        align-items: center;
        width: 100%;
    }
    .banner-info h1{
        font-size: 25px ;
        max-width: 300px;
        text-align:left;
    }
    .graphs{
        order: 1;
        width: 80%;
        justify-content: center;
        
    }
    .graphs img{
        width: 100%;
    }
}